ConsoleApp1/.vs/
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.cache
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/ConsoleApp1/obj/project.assets.json
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.assets.cache
ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.0/ConsoleApp1.deps.json
ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.0/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.0/ConsoleApp1.runtimeconfig.dev.json
ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.0/ConsoleApp1.runtimeconfig.json
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.csprojAssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.0/ConsoleApp1.pdb
